In [2]:
# QUESTION.1 Consider following code to answer further questions:
# import pandas as pd
# course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
# duration = [2,3,6,4]
# df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
#    1. Write a code to print the data present in the second row of the dataframe, df.
# ANSWWR 
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [ ]:
# QUESTION.2 What is the difference between the functions loc and iloc in pandas.DataFrame?
# ANSWER loc (Label-based Selection):

#     *  loc is primarily label-based, meaning it uses the row and column labels to select data.
#     *  You can use row and column labels or boolean indexing to filter rows and columns.
#     *  When using loc, both the start and stop bounds are inclusive.
#     *  It works with labels or boolean arrays for row and column indexing.

#        iloc (Integer-based Selection):

#     *  iloc is primarily integer-based, meaning it uses integer positions to select data.
#     *  You can use integer indices or slices to filter rows and columns.
#     *  When using iloc, the start bound is inclusive, but the stop bound is exclusive.
#     *  It works with integer indices or slices for row and column indexing.

In [4]:
# QUESTION.3 Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#  then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs?
#  If so then explain it.
# ANSWER 
import pandas as pd

# Sample DataFrame
data = {'A': [10, 20, 30, 40], 'B': [50, 60, 70, 80]}
df = pd.DataFrame(data)

# Define the reindex list
reindex = [3, 0, 1, 2]

# Reindex the DataFrame
new_df = df.reindex(reindex)

# Output of new_df.loc[2] and new_df.iloc[2]
output_loc = new_df.loc[2]
output_iloc = new_df.iloc[2]

print("Output of new_df.loc[2]:\n", output_loc)
print("\nOutput of new_df.iloc[2]:\n", output_iloc)

Output of new_df.loc[2]:
 A    30
B    70
Name: 2, dtype: int64

Output of new_df.iloc[2]:
 A    20
B    60
Name: 1, dtype: int64

In [6]:
# QUESTION.4 Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#     (i) mean of each and every column present in the dataframe.
#     (ii) standard deviation of column, ‘column_2’
# ANSWER 
import pandas as pd
import numpy as np


columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Calculate the mean of each column
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

# (ii) Calculate the standard deviation of 'column_2'
column_2_std = df1['column_2'].std()
print("\nStandard Deviation of 'column_2':", column_2_std)

Mean of each column:
column_1    0.461494
column_2    0.616460
column_3    0.410042
column_4    0.400657
column_5    0.635108
column_6    0.638615
dtype: float64

Standard Deviation of 'column_2': 0.3072821393254244

In [17]:
# QUESTION.5 Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
#           mean of column, column_2. If you are getting errors in executing it then explain why.
import pandas as pd
import numpy as np

# Define the DataFrame

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.500394  0.086155  0.070679  0.316651  0.677752  0.636407
2  0.079632  0.979742  0.836113  0.053814  0.384966  0.591936
3  0.217594  0.883692  0.926614  0.618179  0.928565  0.989264
4  0.513994  0.204869  0.002682  0.398583  0.359790  0.317063
5  0.400007  0.646799  0.358084  0.787136  0.794195  0.225447
6  0.326723  0.537012  0.124850  0.262146  0.251520  0.377290

In [21]:
df1.loc[2,'column_2'] = 'hritik'

In [22]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.500394  0.086155  0.070679  0.316651  0.677752  0.636407
2  0.079632    hritik  0.836113  0.053814  0.384966  0.591936
3  0.217594  0.883692  0.926614  0.618179  0.928565  0.989264
4  0.513994  0.204869  0.002682  0.398583  0.359790  0.317063
5  0.400007  0.646799  0.358084  0.787136  0.794195  0.225447
6  0.326723  0.537012  0.124850  0.262146  0.251520  0.377290

In [23]:
df1.mean()

/tmp/ipykernel_124/2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.339724
column_3    0.386503
column_4    0.406085
column_5    0.566131
column_6    0.522901
dtype: float64

In [ ]:
# The code you provided attempts to replace the data in the second row of 'column_2' with a string variable,
# which is not allowed in a Pandas DataFrame where columns have a specific data type]
# (in this case, 'column_2' is expected to have a numeric data type because it contains random floats).
# Attempting to replace a numeric value with a string will result in a ValueError.

In [ ]:
# QUESTION.6 What do you understand about the windows function in pandas and list the types of windows functions?
# ANSWER     In pandas, the "window function" refers to a group of functions that are used for performing
# operations on a set of data points within a defined window or rolling window of data. These functions are
# particularly useful for time series data and data where the order or sequence matters. Windows functions allow
# you to compute aggregate statistics, transformations, and other operations on subsets of data defined by
# a moving window.

# Rolling Functions: Rolling functions create a rolling view of your data and allow you to apply various operations 
#       to this rolling window. The window size is specified, and the function moves through the data, updating the 
# window at each step. 

# Expanding Functions: Expanding functions compute a statistic for all data points from the start up to the
#                      current point. They expand the window as they progress through the data.

# Exponential Moving Average (EMA): EMA is a type of window function that assigns exponentially decreasing
#                  weights to older data points. It is commonly used in financial and time series analysis.

In [24]:
# QUESTION.7 Write a code to print only the current month and year at the time of answering this question.
# ANSWER 
import pandas as pd
from datetime import datetime

# Get the current date
current_date = datetime.now()

# Create a pandas Timestamp object from the current date
current_timestamp = pd.Timestamp(current_date)

# Extract the month and year from the Timestamp
current_month = current_timestamp.month
current_year = current_timestamp.year

# Print the current month and year
print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")

Current Month: 9
Current Year: 2023

In [1]:
# QUESTION.8 Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the
# difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter
# the dates and display the result.
# ANSWER 

# Input dates from the user
date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

# Convert input strings to datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the time difference
time_difference = date2 - date1

# Extract days, hours, and minutes from the time difference
days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes, _ = divmod(remainder, 60)

# Display the result
print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD):  20-9-2023
Enter the second date (YYYY-MM-DD):  20-9-2001

Time difference: -8035 days, 0 hours, 0 minutes

/tmp/ipykernel_77/840014784.py:8: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date1 = pd.to_datetime(date1_str)
/tmp/ipykernel_77/840014784.py:9: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date2 = pd.to_datetime(date2_str)

In [ ]:
# QUESTION.9 Write a Python program that reads a CSV file containing categorical data and converts a specified column to a
# categorical data type. The program should prompt the user to enter the file path, column name, and category order, and
# then display the sorted data.
import pandas as pd

# Function to load and process the CSV file
def process_csv_file(file_path, column_name, category_order):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Convert the specified column to a categorical data type
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
        
        # Sort the DataFrame by the categorical column
        sorted_df = df.sort_values(by=[column_name])
        
        # Display the sorted data
        print(sorted_df)
    
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except KeyError:
        print(f"Column not found: {column_name}")

if __name__ == "__main__":
    # Prompt the user for file path, column name, and category order
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order (comma-separated values): ").split(',')
    
    # Call the function to process and display the data
    process_csv_file(file_path, column_name, category_order)

Enter the CSV file path:  l

In [2]:
# QUESTION.10 Write a Python program that reads a CSV file containing sales data for different products and visualizes the
# data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to
# enter the file path and display the chart.
# ANSWER 
import pandas as pd
import matplotlib.pyplot as plt

# Function to read and process the CSV file
def read_and_process_csv(file_path):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Assuming your CSV has columns 'Date', 'Product_Category', and 'Sales'
        # You can adapt these column names to match your CSV
        # Convert the 'Date' column to a datetime format
        df['Date'] = pd.to_datetime(df['Date'])

        # Pivot the data to create a pivot table for stacked bar chart
        pivot_df = df.pivot_table(index='Date', columns='Product_Category', values='Sales', aggfunc='sum', fill_value=0)

        # Create a stacked bar chart
        pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
        plt.title('Sales by Product Category Over Time')
        plt.xlabel('Date')
        plt.ylabel('Sales')
        plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
        plt.show()

    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred: {e}")

# Prompt the user for the file path
file_path = input("Enter the path to the CSV file: ")

# Call the function to read and process the CSV file
read_and_process_csv(file_path)

Enter the path to the CSV file:  l

File not found: l

In [3]:
# 
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please make sure the file exists and the path is correct.")
    exit(1)
except Exception as e:
    print(f"An error occurred: {e}")
    exit(1)

# Calculate mean, median, and mode
mean_score = df["Test Score"].mean()
median_score = df["Test Score"].median()
mode_scores = df["Test Score"].mode()

# Display the results in a table
result_table = pd.DataFrame({
    "Statistic": ["Mean", "Median", "Mode"],
    "Value": [mean_score, median_score, ', '.join(map(str, mode_scores.tolist()))]
})

print(result_table.to_string(index=False))

Enter the file path of the CSV file containing the student data:  DATA.csv

Statistic Value
     Mean  83.5
   Median  85.0
     Mode    85